.plan-header{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: fit-content;
    padding: 5px;
    border-bottom: 1px solid #111;
    &-title{
        margin-left: 15px;
        font-size: 18px;
        font-weight: 700;
    }
    &-btn{
        position: absolute;
        right: 15px;
        
        i{
            font-size: 18px;
            font-weight: 700;
            padding: 2 15px;
        }
    }
}