.plan-plus{
    margin: 10px 0 30px 20px;
    &-input{
        width: 80vw;
        border-bottom: 1px solid #111;
    }
    &-btn{
        font-size: 30px;
        &:hover{
            color: $logo;
        }
    }
}