@font-face {
    font-family: 'week';
    src:
      url('/assets/fonts/week.ttf') format('truetype'),
      url('/assets/fonts/week.woff') format('woff'),
      url('/assets/fonts/week.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
  
