.today{
    width: 100%;
    height: fit-content;
    margin-top: 40px;
    &-title-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &-title{
        font-size: 15px;
        font-weight: 400;
    }
    &-date{
        position: absolute;
        right: 11px;
        font-weight: 500;
        font-size: 15px;
       p{
           display: inline;
           margin-left: 10px;
           font-weight: 500;
           font-size: 15px;
       }
    }

    &-container{
        margin-top: 15px;
        
    }

    &-goal{
        border: 1px solid #111;
        border-radius: 4px;
        padding: 0 8px;
        width: 93vmin;
        height: fit-content;
    }
}