.mypage{
    position: fixed;
    top: 0;
    left: 0;
    z-index: $mypage-level;
    width: 100%;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transform: translate3d(100%,0,0);
    transition: transform 300ms ease-in-out;
    background-color: #fff;
    &.is-active{
        opacity: 1;
        visibility: visible;
        transform:translate3d(0,0,0);
        transition: transform 300ms ease-in-out;
    }
    &-header{
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }

    &-left{
        .buttonwrapper{
            position: relative;
            .backbtn{
                position: absolute;
                top: 4px;
                transform: rotate(-90deg);
                i{
                    font-size: 30px;
                    &:hover{
                        color: $logo;
                    }
                }
            }
        }
        
    }

    &-right{
        margin-left: 50px;
        .mypage-profile{
            display: flex;
            flex-direction: row;
        }
        .mypage-name{
            margin-left: 20px;
            width: 200px;
            .namewrapper{
                position: relative;
                .user-name{
                    position:absolute;
                    top: 8px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    flex-grow: 1;
                }
            }
        }
    }

    &-search{
        .search-container{
            width: 80vw;
            padding: 4px;
            margin: 40px 4px 40px 20px;
            border: 1px solid #111;
            border-radius: 4px;
            &:hover{
                background-color: $hover;
            }
            .search{
               width: 80%;
            }
        }
    }

    &-list{
        margin: 50px 4px 0 20px;
        &-content{
            .mypage-item{
                padding-left: 10px;
                font-weight: 700;
                margin-bottom: 30px;

                &:hover{
                    color: $logo;
                }
            }
        }
    }
}